.open {
  left: 0 !important;
}
.logostyle {
  @media (max-width: 992px) {
    z-index: 10000;
    filter: invert(1) brightness(19.5);
  }
}
nav {
  background: white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        img {
        }
      }
    }
    .menu-icon {
      font-size: 30px;
      display: none;
      padding: 4px;
      @media (max-width: 992px) {
        display: block;
        cursor: pointer;
      }
    }
    .links {
      @media (max-width: 992px) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: white;
        background: #252b46fa;
        left: -100%;
        top: 0;
        z-index: 1000;
        transition: 0.3s;
        flex-wrap: wrap;
      }
      .close-icon {
        display: none;
        @media (max-width: 992px) {
          position: absolute;
          right: 139px;
          top: 18px;
          display: block;
          @media (max-width: 635px) {
            right: 54px;
          }
          @media (max-width: 400px) {
            right: 15px;
          }
          .closeico {
            padding: 10px;
            cursor: pointer;
            font-size: 26px;
          }
        }
      }
      ul {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin: 0;
        @media (max-width: 992px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
          width: 90%;
          height: 500px;
          padding: 0;
        }
        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
          @media (max-width: 992px) {
            margin: 25px 0;
            margin-right: 0 !important;
            display: block;
            width: 100%;
            text-align: center;
            border-top: 1px solid #4a4c5a8f;
            padding: 26px 0;
            margin-bottom: 0;
            margin-top: 0;
          }
          a {
            font-size: 17px;
            color: #333;
            text-decoration: none;
            transition: 0.3s;
            @media (max-width: 992px) {
              color: white;
              font-size: 20px;
              padding: 27px 100px;
              &.active,
              &:hover {
                color: #ccc !important;
              }
            }
            &.active,
            &:hover {
              color: $red;
            }
            &[type="button"] {
              color: $red;
              border: 2px solid $red;
              border-radius: 4px;
              padding: 6px 25px;
              background: $red;
              transition: 0.3s;
              color: white;
              font-size: 16px;
              text-transform: uppercase;
              box-shadow: 0 0 7px 0px #3333338a;
              @media (max-width: 992px) {
                display: block;
                width: 100%;
                background: transparent;
                border-color: white;
                font-size: 19px;
                &:hover {
                  color: #ccc !important;
                }
              }
              &:hover {
                background: transparent;
                color: $red;
              }
            }
          }
        }
      }
      .icons {
        display: none;
        @media (max-width: 992px) {
          display: block;
          width: 100%;
          height: 150px;
          text-align: center;
          img {
              margin-right: 36px;
              padding: 5px;
              cursor: pointer;
          }
        }
      }
    }
  }
}
