@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import "vars";
@import "navbar";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Rubik", sans-serif !important;
  font-size: 18px
}
